*{
    font-family: 'Nunito Sans', sans-serif;
}

.topnav {
    overflow: hidden;
   
  }
  
  .topnav a {
    float: left;
    color: rgb(141, 123, 104);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
  }
  
  .topnav a.active {
    background-color: rgb(255 239 221);
    color: rgb(141, 123, 104);
  }
li{
    position: relative;
    display: inline-block;
    margin-bottom: none;
    transition: 0.5s;
    cursor: pointer;
  }

  li::after{
    position: absolute;
    content: "";
    width: 100%;
    height: 3px;
    top: 100%;
    left:0;
    transition: transform 0.5;
    transform: scaleX(0);
    transform-origin: right;
    border-bottom: 3px solid lightsalmon;
  }

  li:hover{
    color: white;
  }

  li:hover::after{
    transform: scaleX(1);
    transform-origin: left;
  }

body {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    min-height: 95vh;
}

.container{
    align-items: left;
}

#box {
    max-width: 600px;
    align-self:center;
    margin-block:40px;
    background-color:rgb(255 239 221);
    border-radius: 5px;
    box-shadow: 5px 5px 15px -5px rgb(141, 123, 104);
    border-radius:15px;
    background-color: 8D7B68;
}

#today{
    text-align: center;
    color:rgb(241, 222, 201);
    max-width: 500px;
    border: 15px solid rgb(141, 123, 104);
    background-color: rgb(141, 123, 104);
    border-radius: 15px;
    padding: 10px;
}

.item {
    min-height: 70px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgb(141, 123, 104);
    border-radius: 15px;
    padding-left:20px;
    min-width: 450px;
  }

  .webflow-style-input{
    justify-content:center
}
input[type="text"] {
    text-align: center;
    height: 60px;
    top: 10px;
    border: none;
    background: transparent;
    font-size: 20px;
    font-weight: 200;
    width: 313px;
}

button[type="submit"]{
    background-color: rgb(141, 123, 104);
    border-radius: 50%;
    min-width:45px;
    min-height:45px;
    border-color:transparent
}

.item p {
    padding-top:15px;
    padding-left:20px;
}

input:checked + p {
    text-decoration: line-through;
    text-decoration-color: rgb(141, 123, 104);
  }

  .nav-link a.active {
    background-color: #04AA6D;
    color: white;
  }
